/*************************************************************************/
/******************************  Variables  ******************************/
/*************************************************************************/

:root {
    /* Main colors */
    --body-background:  #e4dcdc;
    --main-white:       #ffffff;
    --main-gray:        #dad1d1;
    --main-background:  #424546;
    --main-black:       #000000;
    --main-yellow:      #F39F18;
    --main-red:         #E62E1B;
    --main-light-blue:  #0098DA;
    --main-dark-blue:   #000066;
    --main-pink:        #f83073;
    --main-light-green: #009933;
    --main-dark-green:  #006633;
    --form-light:       #537958;
    /* Secondary colors */
    --yellow-1: #85780a;
    --yellow-2: #b4b229;
    --yellow-3: #c39200;
    --yellow-4: #feffb5;
    --red-1:    #c4302b;
    --red-2:    #441818;
    --blue-1:   #3d2b7e;
    --blue-2:   #18117c;
    --green-1:  #092e1d;
    --green-2:  #116161;
    --green-3:  #194b19;
    /* Box colors */
    --box-black:      #3e3f46;
    --box-black-top:  #35383e;
    --box-black-side: #2e3133;
    --box-blue:       #33a3ee;
    --box-blue-top:   #2982b9;
    --box-blue-side:  #1f5378;
    --box-green-top:  #006633;
    --box-green-side: #01381d;
    /* Size text */
    --size-micro:      0.4rem;
    --size-very-small: 0.8rem;
    --size-small:      1.2rem;
    --size-normal:     1.6rem;
    --size-large:      2rem;
    /* Size titles */
    --size-llllll: 2.4rem;
    --size-lllll:  2.8rem;
    --size-llll:   3.2rem;
    --size-lll:    3.6rem;
    --size-ll:     4rem;
    --size-l:      4.4rem;
    /* Fonts  Ubuntu 300 300 500 500 MuseoModerno 200 400 500 700*/
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Ubuntu', sans-serif; */
}


/************************************************************/
/************************* Settings *************************/
/************************************************************/

*, *:before, *:after {
    box-sizing: inherit;
    margin:     0;
    padding:    0;
}

html {
    box-sizing: border-box;
    font-size:  62.5%;
}

body {    
    background-color: var(--body-background);
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        var(--size-large);
    font-weight:      400;
    line-height:      2;    
}

body::-webkit-scrollbar {
    background-color: var(--main-gray);
    width:            1.2rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-yellow);
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-red);
    border-radius: 1rem;
}


/*************************************************************/
/************************* Main Menu *************************/
/*************************************************************/

.main-menu-container {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    left:            0;
    position:        fixed;
    top:             0;
    transition:      top 1s;
    width:           100%;
    z-index:         1000000;
}

.banner-menu {
    align-items:      center;
    background-color: var(--main-light-blue);
    border-radius:    0.5rem;
    box-shadow:       0.1rem 0.1rem 0.2rem;
    display:          flex;
    height:           38vh;
    justify-content:  center;
    margin-top:       2rem;
    padding:          4rem 0;
    width:            75%;
}

.banner-menu-information {
    width: 95%;
}

.banner-menu-information-top {
    align-items:     center;
    display:         flex;
    flex-wrap:       wrap;
    gap:             2rem;
    justify-content: space-evenly;
    margin-bottom:   4rem;
}

.banner-menu-information-top {
    flex-basis: 30%;
}

.banner-menu-information-bottom {
    align-items:    center;
    display:        flex;
    flex-direction: row-reverse;
    margin-top:     4rem;
    width:          80%;
}

@media (max-width: 1000px) {
    .banner-menu {
        height: 50vh;
    }
}

@media (max-width: 780px) {
    .main-menu-container {
        display: none;
    }
}


/********************************************************/
/************************* Hero *************************/
/********************************************************/

.hero-container {
    height: 100vh;
    width:  100%;
}

.hero-home {
    background: url('../img/jpg/hero-1.jpg') no-repeat center center/cover;
    height:     100%;
    width:      100%;
}

.hero-information {
    align-content:    center;
    background-color: rgba(0, 0, 0, 0.4);
    display:          grid;
    height:           100%;
    width:            100%;
}

.hero-grid {
    align-content:         center;
    display:               grid;
    gap:                   2rem;
    grid-auto-rows:        100%;
    grid-template-columns: repeat(2, 1fr);
    height:                100%;
    margin:                0 auto;
    width:                 95%;
}

.hero-logo {
    height:     100%;
    object-fit: contain;
    width:      100%;
}

.hero-banner {
    align-items:      center;
    align-self:       center;
    background-color: var(--main-light-green);
    border-radius:    0.5rem;
    display:          flex;
    flex-direction:   column;
    gap:              0.8rem;
    height:           75%;
    justify-content:  center;
    padding:          4rem 2rem;
    width:            100%;
}

.hero-banner h2 {
    font-size:     var(--size-llll);
    margin-bottom: 2rem;
}

.hero-banner button {
    background-color: var(--main-dark-blue);
    border:           0.3rem solid var(--main-white);
    font-size:        var(--size-llllll);
    margin:           0;
    padding:          1.6rem 2rem;
    transition:       all linear 0.2s;
}

.hero-banner button:hover {
    cursor:    pointer;
    transform: scale(1.01);
}

@media (max-width: 1250px) {
    .hero-banner {
        height: 80%;
    }
}

@media (max-width: 1150px) {
    .hero-banner {
        height: 85%;
    }
}

@media (max-width: 1050px) {
    .hero-banner {
        height: 90%;
    }
}

@media (max-width: 900px) {
    .hero-grid {
        grid-auto-rows:        auto;
        grid-template-columns: 100%;
        grid-template-rows:    80vh;
        width:                 85%;
    }
    
    .hero-logo {
        display: none;
    }   

    .hero-banner {
        background-image:    url('../img/jpeg/NuevoLogo.jpeg');
        background-position: center;
        background-repeat:   no-repeat;
        background-size:     cover;
        height:              100%;
    }
}


/**********************************************************/
/************************* Footer *************************/
/**********************************************************/

footer {
    background-color: var(--main-background);
}

.footer-container {
    align-items: center;
    display:     flex;
    height:      85vh;
    padding:     2rem 4rem 0 4rem;
}

.footer-information {
    align-items:     center;
    display:         flex;
    flex-basis:      70%;
    justify-content: center;
    height:          100%;
    width:           50%;
}

.footer-information-banner {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    gap:             4rem;
    height:          100%;
    justify-content: center;
}

.footer-information-banner img {
    width: 60%;
}

.footer-information-banner h3 {
    font-size: var(--size-lll);
}

.social-banner {
    align-items:      center;
    background-color: var(--main-light-green);
    border-radius:    1rem;
    display:          flex;
    flex-direction:   column;
    gap:              4rem;
    height:           60%;
    justify-content:  center;
    width:            90%;
}

.copyright {
    padding: 2rem 0;
}

@media (max-width: 800px) {
    .footer-information {
        display: none;
    }
}


/*********************************************************/
/************************* Boxes *************************/
/*********************************************************/

/* Menu */

.main-menu {
    align-items:     center;
    display:         flex;
    justify-content: center;
    margin:          4rem 0;
    position:        relative;
    width:           80%;
}

.box-menu {
    background-color: var(--box-black);
    list-style:       none;
    position:         relative;
    padding:          1.5rem;
    transition:       0.5s;
    width:            20rem;
    z-index:          var(--i);
}

.box-menu:hover {
    background-color: var(--box-blue);
    transform:        translateY(2rem);
}

.box-menu::before {
    background-color: var(--box-black-side);
    content:          '';
    height:           100%;
    left:             -4rem;
    position:         absolute;
    transform:        skewY(14deg);
    transform-origin: right;
    transition:       0.2s;
    top:              0;
    width:            4rem;
}

.box-menu:hover::before {
    background-color: var(--box-blue-side);
}

.box-menu::after {
    background-color: var(--box-black-top);
    content:          '';
    height:           1rem;
    left:             0;
    position:         absolute;
    transform:        skewX(76deg);
    transform-origin: bottom;
    transition:       0.5s;
    top:              -1rem;
    width:            100%;
}

.box-menu:hover::after {
    background-color: var(--box-blue-top);
}

.box-menu a {
    color:           var(--main-white);
    display:         block;
    text-align:      center;
    text-decoration: none;
}

/* Menu Mobile */

.mobile-menu-icon {
    background-color: rgba(0, 152, 218, 0.4);
    display:  none;
    margin:   0 2rem;
    padding: 0 2rem;
    position: fixed;
    right:    2%;
    top:      0%;
    transition: top 0.8s;
    z-index:  10000000;
}

.mobile-menu-container {
    background: url('../img/jpg/hero-1.jpg') no-repeat center center/cover;
    clip-path:  circle(0% at top left);
    height:     100%;
    position:   fixed;
    top:        0;
    transition: clip-path linear 0.4s;
    width:      100%;
    z-index:    1000000;
}

.mobile-menu {
    align-items:      center;
    background-color: rgba(0, 152, 218, 0.4);
    display:          flex;
    flex-direction:   column;
    height:           100%;
    justify-content:  center;
    width:            100%;
}

.mobile-menu-container.mobile-active {
    clip-path: circle(200% at top left);
}

.box-mobile {
    background-color: var(--box-black);
    list-style:       none;
    position:         relative;
    padding:          2.5rem;
    transition:       0.5s;
    width:            20rem;
    z-index:          var(--i);
}

.box-mobile:hover {
    background-color: var(--box-blue);
    transform:        translateX(-2rem);
}

.box-mobile::before {
    background-color: var(--box-black-side);
    content:          '';
    height:           100%;
    left:             -4rem;
    position:         absolute;
    transform:        skewY(14deg);
    transform-origin: right;
    transition:       0.2s;
    top:              0;
    width:            4rem;
}

.box-mobile:hover::before {
    background-color: var(--box-blue-side);
}

.box-mobile::after {
    background-color: var(--box-black-top);
    content:          '';
    height:           1rem;
    left:             0;
    position:         absolute;
    transform:        skewX(76deg);
    transform-origin: bottom;
    transition:       0.5s;
    top:              -1rem;
    width:            100%;
}

.box-mobile:hover::after {
    background-color: var(--box-blue-top);
}

.box-mobile a {
    color:           var(--main-white);
    display:         block;
    text-align:      center;
    text-decoration: none;
}

@media (max-width: 780px) {
    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }
}

/* Social */

.social-menu {
    align-items:     center;
    display:         flex;
    flex-basis:      30%;
    flex-direction:  column;
    height:          100%;
    justify-content: center;
    margin:          4rem 0;
    position:        relative;
    width:           50%;
}

.box-social {
    background-color: var(--box-black);
    list-style:       none;
    position:         relative;
    padding:          1.5rem;
    transition:       0.5s;
    width:            16rem;
    z-index:          var(--i);
}

.box-social:hover {
    background-color: var(--main-light-green);
    transform:        translateX(3rem);
}

.box-social::before {
    background-color: var(--box-black-side);
    content:          '';
    height:           100%;
    left:             -4rem;
    position:         absolute;
    transform:        skewY(14deg);
    transform-origin: right;
    transition:       0.2s;
    top:              0;
    width:            4rem;
}

.box-social:hover::before {
    background-color: var(--box-green-side);
}

.box-social::after {
    background-color: var(--box-black-top);
    content:          '';
    height:           1rem;
    left:             0;
    position:         absolute;
    transform:        skewX(76deg);
    transform-origin: bottom;
    transition:       0.5s;
    top:              -1rem;
    width:            100%;
}

.box-social:hover::after {
    background-color: var(--box-green-top);
}

.box-social a {
    color:           var(--main-white);
    display:         block;
    font-size:       6rem;
    text-align:      center;
    text-decoration: none;
}

@media (max-width: 800px) {
    .social-menu {
        flex-basis: 100%;
        height:     100%;
        margin:     0;
        width:      100%;
    }
}

/*********************************************************/
/************************* Waves *************************/
/*********************************************************/

.blue-wave {
    align-items: center;
    justify-content: space-around;
    background:            url('../img/svg/wave-blue2.svg') no-repeat center center/cover;
    display:               flex;
    margin:                12rem 0;
    min-height:            calc(100vh + 10rem);
    width:                 100%;
}

.index-card {
    box-shadow:       1.2rem 1.2rem 1.6rem;
    justify-self:     center;
    border-radius:    0.5rem;
    overflow:         hidden;
    background-color: var(--main-white);
    height:           60rem;
    width:            40rem;
}

.index-card__content {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    height:          50%;
    justify-content: center;
    padding:         4rem;
}

.index-card__icon {
    font-size: 6rem;
}

.index-card__link {
    background-color: var(--main-red);
    border:           none;
    border-radius:    0.5rem;
    font-size:        var(--size-large);
    margin-top:       2rem;
    padding:          2rem 6rem;
    transition:       all linear 0.2s;
}

.index-card__link:hover {
    cursor:    pointer;
    transform: scale(1.02);
}

.index-card__figure {
    display:             grid;
    grid-template-areas: "img";
    overflow:            hidden;
    width:               100%;
}

.index-card__figure::after {
    background-color: rgba(0, 102, 51, 0.85);
    content:          attr(data-name) "";
    color:            var(--main-white);
    display:          grid;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        3rem;
    font-weight:      bold;
    grid-area:        img;
    place-items:      center;
    transform:        translate(100%, 100%);
    transition:       0.3s ease-in;
    text-align: center;
}

.index-card__figure:hover:after {
    transform: translate(0);
}

.index-card__img {
    aspect-ratio:   4/3;
    grid-area:      img;
    object-fit:     cover;
    vertical-align: middle;
    width:          100%;
}

@media (max-width: 1150px) {
    .blue-wave {
        margin:                4rem 0;
    }

    .index-card {
        margin: 4rem 0;
    }
}

@media (max-width: 850px) {
    .blue-wave {
        padding: 6rem;
        flex-direction: column;
    }

    .index-card {
        margin: 4rem 0;
    }

}

@media (max-width: 500px) {

    .blue-wave {

        padding: 2rem;
    }

    .index-card {
        height: 70rem;
        width: 90%;
    }

    .index-card__figure {
        height: 50%;
    }
    .index-card__figure img {
        height: 100%;
    }

}

@media (max-width: 400px) {
    .index-card__link {
        padding: 2rem 4rem;
    }
}


/************************************************************/
/************************* Galeries *************************/
/************************************************************/

.galery {
    margin: 4rem 0;
}

.galery-main-container {
    display:        flex;
    flex-direction: column;
    gap:            4rem;
}

.galery-title-container {
    flex-basis: 100%;
}

.galery-title {
    background-color: var(--main-dark-blue);
    border-radius:    0.5rem;
    font-size:        var(--size-lllll);
    margin:           2rem;
    padding:          4rem;
    width:            60%;
}

.galery-container {
    align-content:   center;
    display:         grid;
    grid-auto-rows:  auto;
    justify-content: center;
    margin-bottom:   8rem;
    width:           100%;
}

.galery-container.galery-left {
    grid-template-columns: 40% 60%;
}

.galery-container.galery-right {
    grid-template-columns: 60% 40%;
}

.galery-text-container {
    height:   100%;
    position: relative;
}

.galery-text {
    background-color: var(--main-yellow);
    border-radius:    0.5rem;
    margin:           0 3rem;
    height:           26rem;
    padding:          4rem;
}

.link-galery {
    background-color: var(--main-red);
    border:           none;
    border-radius:    0.5rem;
    font-size:        var(--size-llllll);
    padding:          2rem 6rem;
    position:         absolute;
    top:              calc(50% + 8rem);
    transition:       all linear 0.2s;
}

.link-galery.link-right {
    right: 0.5%;
}

.link-galery.link-left {
    left: 0.5%;
}

.link-galery:hover {
    cursor:    pointer;
    transform: scale(1.02);
}

.galery-images {
    align-items:     center;
    display:         flex;
    justify-content: center;
    position:        relative;
    transition:      all linear 0.4s;
    z-index:         100000;
}

.galery-images:hover {
    cursor:    pointer;
    transform: scale(0.978);
}

.galery-images:hover .galery-banner {
    display: flex;
}

.galery-banner {
    background-color: rgba(0, 0, 0, 0.8);
    font-size:        var(--size-lll);
    height:           100%;
    left:             5%;
    padding:          0 2rem;
    position:         absolute;
    top:              0;
    width:            90%;
}

.galery-images img {
    width: 90%;
}

.galery-plugin {
    align-items:      center;
    background-color: rgba(0, 0, 0, 0.95);
    clip-path:        circle(0% at top left);
    display:          flex;
    flex-direction:   column;
    height:           100%;
    justify-content:  space-around;
    left:             0;
    position:         fixed;
    transition:       clip-path linear 0.4s;
    top:              0;
    width:            100%;
    z-index:          2000000;
}

.galery-plugin.galery-active {
    clip-path: circle(200% at top left);
}

.galery-plugin-title h3 {
    font-size: var(--size-llll);
}

.galery-plugin-container {
    align-items:     center;
    display:         flex;
    height:          75%;
    justify-content: space-around;
    width:           95%;
}

.galery-plugin-image {
    align-items:     center;
    display:         flex;
    height:          100%;
    justify-content: center;
    width:           85%;
}

.galery-plugin-image-selected {
    align-items:     center;
    display:         flex;
    justify-content: center;
    width:           100%;
}

.galery-plugin-image-selected img {
    padding:    0;
    margin:     0;
    max-height: 75vh;
    max-width:  75vw;
}

.galery-close {
    margin:   2rem;
    right:    2%;
    position: absolute;
    top:      0%;
}

.left-arrow, 
.right-arrow {
    width: 5vw;
}

@media (max-width: 980px) {
    .galery-container.galery-left,
    .galery-container.galery-right {
        gap:                   8rem;
        grid-template-columns: 100%;
    }

    .galery-container.galery-left .galery-text-container {
        grid-row: 2;
    }

    .galery-text {
        height:  15rem;
        padding: 2rem;
    }

    .link-galery {
        top: calc(50% + 4rem);
    }

    .link-galery.link-left,
    .link-galery.link-right {
        right: 30%;
        left:  30%;
    }
}

@media (max-width: 800px) {
    .link-galery.link-left,
    .link-galery.link-right {
        right: 25%;
        left:  25%;
    }
}

@media (max-width: 600px) {
    .galery-text {
        height:  18rem;
    }

    .link-galery.link-left,
    .link-galery.link-right {
        right: 20%;
        left:  20%;
    }

    .link-galery {
        top: calc(50% + 6rem);
    }
}

@media (max-width: 500px) {
    .galery-text {
        height:  22rem;
    }

    .link-galery.link-left,
    .link-galery.link-right {
        right: 15%;
        left:  15%;
    }

    .link-galery {
        top: calc(50% + 8rem);
    }
}

@media (max-width: 400px) {
    .galery-text {
        height:  26rem;
    }

    .link-galery {
        top: calc(50% + 10rem);
    }
}


/*************************************************************/
/************************* Utilities *************************/
/*************************************************************/

.center-flex {
    align-items:     center;
    display:         flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.clear-link {
    text-decoration: none;
}

.color-white {
    color: var(--main-white);
}

.color-dark-green {
    color: var(--main-dark-green);
}

.color-dark-blue {
    color: var(--main-dark-blue);
}

.color-gray-hover:hover {
    color: var(--main-gray);
}

.cursor-pointer:hover {
    cursor: pointer;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.font-size-3rem {
    font-size: 3rem;
}

.font-size-l {
    font-size: var(--size-l);
}

.font-size-ll {
    font-size: var(--size-ll);
}

.font-size-lll {
    font-size: var(--size-lll);
}

.font-size-llll {
    font-size: var(--size-llll);
}

.font-size-lllll {
    font-size: var(--size-lllll);
}

.font-size-llllll {
    font-size: var(--size-llllll);
}


@media (max-width: 800px) {
    .font-size-l {
        font-size: var(--size-ll);
    }
    
    .font-size-ll {
        font-size: var(--size-lll);
    }
    
    .font-size-lll {
        font-size: var(--size-llll);
    }
    
    .font-size-llll {
        font-size: var(--size-lllll);
    }
    
    .font-size-lllll {
        font-size: var(--size-llllll);
    }
}

@media (max-width: 400px) {
    .font-size-l {
        font-size: var(--size-lll);
    }
    
    .font-size-ll {
        font-size: var(--size-llll);
    }
    
    .font-size-lll {
        font-size: var(--size-lllll);
    }
    
    .font-size-llll {
        font-size: var(--size-llllll);
    }
}


/***********************************************************/
/************************* Contact *************************/
/***********************************************************/

#contact {
    margin-top: 20rem;
}

#contact ~ footer  {
    margin-top: 10rem;
}

@media (max-width: 780px) {
    #contact {
        margin-top: 10rem;
    }
}

.contact-title {
    margin-bottom: 10rem;
    padding: 0 2rem;
}

.form {
    align-items:      center;
    background-color: var(--main-white);
    border-radius:    0.5rem;
    display:          flex;
    flex-direction:   column;
    justify-content:  space-around;
    margin:           0 auto;
    max-width:        60rem;
    padding:          6rem 4rem;
    width:            90%;
}

.form__container {
    width: 100%;
}

.form__group {
    --color:  var(--form-light);
    margin:   6rem 0;
    position: relative;
    width:    100%;
}

.textarea-form,
.form__input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 2rem;
    padding:  1rem 2.4rem;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid var(--color);
}

.textarea-form:focus,
.textarea-form:not(:placeholder-shown),
.form__input:focus,
.form__input:not(:placeholder-shown) {
    color: var(--main-light-blue);
}

.textarea-form:focus + .form__label,
.textarea-form:not(:placeholder-shown) + .form__label,
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-2.8rem) scale(0.7);
    transform: left top;
    color: var(--main-light-blue);
}

.form__label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0.5rem;
    transform: translateY(1rem);
    transition: transform 0.8s, color 0.3s
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--main-light-blue);
    transform: scale(0);
    transform: left bottom;
    transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}

.textarea-form:focus {
    border-bottom: 0.1rem solid var(--main-light-blue);
    transform: left bottom;
    transition: transform 0.4s;
}

.submit-form {
    background-color: var(--main-red);
    border:           none;
    border-radius:    0.5rem;
    font-size:        var(--size-llllll);
    padding:          2rem 6rem;
    transition:       all linear 0.2s;
}

.submit-form:hover {
    cursor:    pointer;
    transform: scale(1.02);
}

.form-legend-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.form-legend {
    color: var(--form-light);
    font-size: var(--size-normal);
}

.form-legend:hover {
    color: var(--main-light-blue);
}